In [1]:
# hello

In [4]:
import pandas as pd
df = pd.read_csv('/Users/j/Desktop/Bootcamp/Module_3_Challenge/PyBank/Resources/budget_data.csv')

In [5]:
df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [6]:
df.shape

(86, 2)

In [7]:
# The total number of months included in the dataset

In [8]:
len(df['Date'].unique())

86

In [9]:
df.head(30)

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
5   Jun-10         563721
6   Jul-10        -535208
7   Aug-10         632349
8   Sep-10        -173744
9   Oct-10         950741
10  Nov-10        -785750
11  Dec-10       -1194133
12  Jan-11        -589576
13  Feb-11        -883921
14  Mar-11         443564
15  Apr-11         837887
16  May-11        1081472
17  Jun-11         464033
18  Jul-11       -1066544
19  Aug-11         323846
20  Sep-11        -806551
21  Oct-11         487053
22  Nov-11        1128811
23  Dec-11         791398
24  Jan-12         739367
25  Feb-12        -197825
26  Mar-12         666016
27  Apr-12         589771
28  May-12         489290
29  Jun-12        -471439

In [10]:
# The net total amount of "Profit/Losses" over the entire period

In [11]:
a = df['Profit/Losses'].sum()

In [12]:
print(a)

22564198

In [13]:
# The changes in "Profit/Losses" over the entire period, and then the average of those changes

In [16]:
df_changes = df.copy()
for i in range(1, len(df)):
    df_changes.iloc[i,1] = df.iloc[i,1] - df.iloc[i-1, 1]

In [17]:
df_changes.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10       -1443517
2  Mar-10         631156
3  Apr-10       -1004755
4  May-10        1581126

In [18]:
b = df_changes['Profit/Losses'].mean()
print(b)

4448.127906976744

In [19]:
# The greatest increase in profits (date and amount) over the entire period

In [20]:
c = df_changes['Profit/Losses'].max()
print(c)

1862002

In [21]:
# The greatest decrease in profits (date and amount) over the entire period

In [22]:
d = df_changes['Profit/Losses'].min()
print(d)

-1825558

In [23]:
indices1 = df_changes.loc[df_changes['Profit/Losses'] == c]
indices2 = df_changes.loc[df_changes['Profit/Losses'] == d]

In [26]:
print(indices1)

      Date  Profit/Losses
79  Aug-16        1862002

In [27]:
print(indices2)

      Date  Profit/Losses
49  Feb-14       -1825558

In [6]:
multiline_text1 = """
PyBank:

Total Months: 86

Total: 22,564,198

Average Change: 4448.13

Greatest Increase: 1,862,002

Greatest Decrease: -1,825,558


"""

print(multiline_text1)

PyBank:

Total Months: 86

Total: 22,564,198

Average Change: 4448.13

Greatest Increase: 1,862,002

Greatest Decrease: -1,825,558

In [1]:

cell_content ='''
PyBank:

Total Months: 86

Total: 22,564,198

Average Change: 4448.13

Greatest Increase: 1,862,002

Greatest Decrease: -1,825,558
'''
# Specify the file path where you want to save the content
file_path = "/Users/j/Desktop/Bootcamp/Module_3_Challenge/PyBank/output.txt"

# Open the file in write mode and write the cell content to it
with open(file_path, "w") as file:
    file.write(cell_content)

print(f"Content saved to {file_path}")

Content saved to /Users/j/Desktop/Bootcamp/Module_3_Challenge/PyBank/output.txt